resultado {
    width: 10px;
    height: 20px;
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
    opacity: 0.8;}

#botão {
    width: 100px;
    height: 30px;
    margin-top: 20px;   
    font-size: 16px;
    background-color: #4CAF50;}